<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="form-group ">
      <label class="control-label " for="firstName">
       nom
      </label>
      <input class="form-control" id="firstName" name="firstName" type="text" value="bechir"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="lastName">
       prenom
      </label>
      <input class="form-control" id="lastName" name="lastName" type="text" value="saadi"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="sexe">
       sexe
      </label>
      <select class="select form-control" id="sexe" name="sexe" value="Masculin">
       <option value="Masculin">
        Masculin
       </option>
       <option value="Feminin">
        Feminin
       </option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label " for="birthDate">
       Date de naissance
      </label>
      <input class="form-control" id="birthDate" name="birthDate" placeholder="MM/DD/YYYY" type="text"  value="1982-01-10"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="adresse">
       adresse
      </label>
      <input class="form-control" id="adresse" name="adresse" type="text"  value="rue maurice berteaux"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="text"  value="saadibechir@gmail.com"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="expertise">
       domaine de comp&eacute;tance
      </label>
      <input class="form-control" id="expertise" name="expertise" type="text"  value="java"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="experience">
       Ann&eacute; d'experience
      </label>
      <input class="form-control" id="experience" name="experience" type="text"  value="7"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="cv">
       cv
      </label>
      <input class="form-control" id="cv" name="cv" type="file"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date1">
       Disponiblit&eacute;
      </label>
      <input class="form-control" id="availability" name="availability" placeholder="MM/DD/YYYY" type="text"/>
     </div>
     <div class="form-group">
      <div>
      <button class="btn btn-primary js-annuller" name="Annuller" type="submit">
        Annuller
       </button>
       <button class="btn btn-primary js-ajouter" name="Ajouter" type="submit">
        Ajouter
       </button>
      </div>
     </div>
   </div>
  </div>
 </div>
</div>
