<div class="panel panel-primary"><div class="panel-heading">Ajout Examen</div>
<div class="panel-body">
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
     <div class="form-group name">
      <label class="control-label " for="name">
       Nom
      </label>
      <input class="form-control" id="name" name="name" type="text" />
      <span class="error-inline"></span>
     </div>
     <div class="form-group expertise">
      <label class="control-label " for="expertise">
       Domaine de competence
      </label>
      <input class="form-control" id="expertise" name="expertise" type="text" />
      <span class="error-inline"></span>
     </div>
     
       <div class="form-group level">
      <label class="control-label " for="level">
       Niveau
      </label>
      <input class="form-control" id="level" name="level" type="text" />
      <span class="error-inline"></span>
     </div>
     
     <div class="form-group time">
      <label class="control-label " for="time">
       Durée
      </label>
      <input class="form-control" id="time" name="time" type="text" />
      <span class="error-inline"></span>
     </div>
     
     <div class="form-group active">
      <label class="control-label " for="active">
       Active
      </label>
      <input class="form-control" id="active" name="active" type="text" />
      <span class="error-inline"></span>
     </div>
     <div class="link">
       <button type="button" class="btn btn-link js-ajouterQuestion">Ajouter Question</button>
     </div>  
      <div class="questions">
       <div class="reponse"></div>
     </div> 
      <button class="btn btn-primary js-annuller" name="Annuller" type="submit">
        Annuller
       </button>
       <button class="btn btn-primary js-ajouter" name="Ajouter" type="submit">
        Ajouter
       </button>
      </div>
     </div>
   </div>
  </div>
 </div>
</div>
</div>
</div>