<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label " for="name">
       nom
      </label>
      <input class="form-control" id="name" name="name" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="name1">
       prenom
      </label>
      <input class="form-control" id="name1" name="name1" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="select">
       sexe
      </label>
      <select class="select form-control" id="select" name="select">
       <option value="Masculin">
        Masculin
       </option>
       <option value="Feminin">
        Feminin
       </option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date">
       Date de naissance
      </label>
      <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="name2">
       adresse
      </label>
      <input class="form-control" id="name2" name="name2" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="name3">
       domaine de comp&eacute;tance
      </label>
      <input class="form-control" id="name3" name="name3" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="name4">
       Ann&eacute; d'experience
      </label>
      <input class="form-control" id="name4" name="name4" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="file">
       cv
      </label>
      <input class="form-control" id="file" name="file" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date1">
       Disponiblit&eacute;
      </label>
      <input class="form-control" id="date1" name="date1" placeholder="MM/DD/YYYY" type="text"/>
     </div>
     <div class="form-group">
      <div>
      <button class="btn btn-primary " name="submit" type="submit">
        Annuller
       </button>
       <button class="btn btn-primary js-ajouter" name="submit" type="submit">
        Ajouter
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
