<div class="recherche">
<fieldset class="fieldset2">
    <legend><strong>rechercher :</strong></legend>
    <div class="recherche-item"><label>Id :</label> <input type="text" name="id"> </div>
    <div class="recherche-item"><label>Nom :</label> <input type="text" name="nom-candidat"> </div>
    <div class="recherche-item"><label>Pr&eacute;nom :</label><input type="text" name="Prenom-candidat"></div>
    <div class="recherche-item"><label>Domaine de comp&eacute;tences : </label><input type="text" name="Domaine-candidat"></div> 
    <div class="js-rechercher rechercher-submit"><input type="submit" name="recherche" value="rechercher"/></div>
</fieldset>
</div>

<div class="resultat">

<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">Check</div>
<div class="divTableCell">Id</div>
<div class="divTableCell">Nom</div>
<div class="divTableCell">Pr&eacute;nom</div>
<div class="divTableCell">E-mail</div>
<div class="divTableCell">Domaine de comp&eacute;tence</div>
<div class="divTableCell">Note</div>
<div class="divTableCell">Action</div>
</div>
</div>
</div>


</div>