<div class="user">
<p >Bonjour user :</p>
</div>
<div id="wrapper"">
<ul id="menu">
<li><a class="js-gestionCandidats">Accueil |</a></li>
<li><a href="#">Gestion des candidats |</a></li><!-- -->
<li><a href="#">Gestion des examens |</a></li><!-- -->
<li><a href="#">Gestion des utilisateurs |</a></li><!-- -->
<li><a href="#">Messages |</a></li><!-- -->
<li><a href="#">Aide</a></li><!-- -->
</ul>
</div>
<div>
