<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex2-collapse">
      <ul class="nav navbar-nav">
	 <li></li>
	<li><a class="js-gestionCandidats menu">Gestion des candidats |</a></li><!-- -->
	{{#if user.isAdmin}}
	<li><a class="js-gestionExams menu">Gestion des examens |</a></li><!-- -->
	<li><a class="js-gestionUsers menu">Gestion des utilisateurs |</a></li><!-- -->
	<li><a class="js-notification menu">Notification |</a></li><!-- -->
	{{/if}}
	<li><a class="menu">Aide</a></li><!-- -->
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonjour :{{user.firstName}} {{user.lastName}} <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-inverse">
            <li><a class="menu js-deconnexion">Deconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>