
<div class="panel panel-primary"><div class="panel-heading">Home Exam</div>
<div class="panel-body"><div class='filters'>
   <h3>Bonjour Candidat vous venez de passer un test de JAVA pour un dure de 30 min</h3>
   <h3>Cliquez sur le Botton comnencez pour debuter le test</h3>
   <button type="button" class="btn btn-primary js-go-exam">GO</button>
</div>