
<div class="panel panel-primary"><div class="panel-heading">Home Exam</div>
<div class="panel-body"><div class='filters'>
   <h3>Bonjour {{candidat.firstName}} {{candidat.lastName}} vous etes invit&eacute; &agrave; passer un test comp&eacute;tence</h3>
   <h3>Cliquez sur le Botton GO comnencez le test</h3>
   <button type="button" class="btn btn-primary js-go-exam">GO</button>
</div>