//
Fichier CSS /* Couleur du fond */  
body {
	background-color: #fcfdf9;
	font-family:arial, sans-serif;
 	font-size:90%;
}

/* Votre contenu */
#container {
	margin: auto;
	width: 50%;
	background: gray;
}
#contenu {
	margin: auto;
	height:800px;
	background: gray;
}

#header {
	margin: auto;
	background: black;
}

#footer {
	margin: auto;
	background: black;
	height: 10px;
}

.authentification {
	margin: auto;
	width: 50%;
}

#wrapper {
	/* masque les débordements et englobe le menu */
	overflow: hidden;
}

#menu, #menu li {
	/* on supprime les éventuels styles par défaut */
	margin: 0;
	margin-left: 5px;
	padding: 0;
	list-style: none;
	/* float permet à l'élément de prendre la largeur de son contenu */
	float: left;
	position: relative;
}

#menu li a {
	color: white;
}