body {
	background-color: #fcfdf9;
	font-family: arial, sans-serif;
}

#container {
	margin: auto;
	width: 100%;
}

.gestionCandidats {
	margin: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.ajoutCandidat {
	margin-left: 10%;
	margin-top: 30px;
}

#contenu {
	margin: auto;
	height: 1270px;;
	margin-top: 10px;
	margin-bottom: 10px;
}

#header {
	margin: auto;
	background: #444;
	margin-top: 20px;
}

#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background: #444;
	margin-top: 20px;
}

.message {
	margin: auto;
	width: 500px;
	padding-top: 15%;
}

.user {
	color: white;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}

a {
	color: white;
	text-decoration: none;
}

.authentification {
	width: 500px;
	margin-top: 10%;
	margin-left: 30%;
	border: 2px solid gray;
	position: absolute;
}

.authentification-contenu {
	padding-left: 10px;
}

.check {
	text-align: center;
	vertical-align: middle;
}

.ajouter-candidat {
	background: url(../img/ajouter_candidat.png) top left no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

.update {
	background: url(../img/update.png) top left no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 30%;
}

.afficher {
	background: url(../img/afficher.png) top left no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	float: left;
}

.supprimer {
	background: url(../img/supprimer.png) top left no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 30%;
}
.logo {
	background: url(../img/logo.png) top left no-repeat;
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 30%;
}